body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

#app {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 150px;
    background: #f0f0f0;
    padding: 10px;
    border-right: 1px solid #ccc;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#sidebar h2 {
    margin-top: 0;
}

.node {
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: grab;
    text-align: center;
}

#canvas {
    flex-grow: 1;
    background: #fff;
}
